<form class="form createblogpost-form box">
   <div class="form-group">
    <label for="title-blogpost">Title:</label>
    <input class="form-input" type="text" id="title-blogpost" />
  </div>

  <div class="form-group">
    <label for="description-blogpost">Description:</label>
    <input class="form-input" type="text" id="description-blogpost" />
  </div>


  <div class="form-group">
    <button class="btn btn-primary is-underlined" type="submit">Create Blogpost!</button>
  </div>

  <script src="/js/createblogpost.js"></script>